<!DOCTYPE html>
<html lang="en">>
    <body>
    <h1> hello {{ user.username }}</h1>

    <p> this message is for resetting your email password.</p>

            <p> if you want to reset  your email password click </p>
            <a href="{{ url }}">HERE</a>
        <form action="{{ url }}" method="DELETE">
            <p> if you didn't ask for your password reset please click </p>
                <a onclick="this.parentNode.submit()" > HERE</a>

               <p> so we can make sure
            your email is secure</p>
        </form>
    </body>
</html>